[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pisat = {git = "https://github.com/jjj999/pisat.git"}
pigpio = "*"
numpy = "*"

[requires]
python_version = "3.7"
